.showMore-btn {
  font-weight: 700;
  font-size: 16px;
  border: none;
  background: none;
}

.expanded,
.collapsed {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url("../../assets/circle-plus.svg") no-repeat center;
  background-size: contain;
  margin-right: 10px;
  display: inline-block;
}
.expanded {
  background: url("../../assets/circle-minus.svg") no-repeat center;
  background-size: contain;
}
